#search[type="search"]::-webkit-search-cancel-button{
  appearance: none;
  cursor: pointer;
  height: 1em;
  width: 1em;
}

.icon{
  width: 1em;
  height: 1em;
}

.arrow{
  transform: rotate(270deg);
  position: absolute;
  left: .2em;
  top: .1em;
}

.arrowDiv{
  transition: transform .3s ease;
}

.arrowDiv.click{
  transform: rotate(180deg);
  margin-left: 100%;
}

.sideMenu.open{
  width: 80%;
  overflow-x: visible;
}

.sideMenu p{
  opacity: 0;
}

.sideMenu.open p{
  opacity: 1;
}

.indicator{
  width: .8em;
  height: .8em;
  border-radius: 50%;
}